.grid-container {
    display: grid;
    grid-template-areas: 
    "logo header  header"
    "nav    main    side-a"
    "nav    main    side-a"
    "footer footer    footer";
    grid-template-columns: 1fr 3fr 1fr;
}
header {
    border: 1px solid gray;
}
.header {
    grid-area: header;
}
nav {
    border: 1px solid gray;
}
aside {
    border: 1px solid gray;
}
.aside-a {
    grid-area: side-a;
}
main {
    border: 1px solid gray;
}
.main {
    grid-area: main;
}
/* header {
    border: 1px solid gray;
} */
footer {
    border: 1px solid gray;
}
.footer {
    grid-area: footer;
}