h1 {
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.grid-container,
.date-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#calendar {
    max-width: 800px;
    height: 600px;
    font-size: 1.4rem;
}

.date-grid-container {
    color: black;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    grid-column-start: 5;
}